# .gitignore for .NET projects
# Thanks to Derick Bailey
# http://www.lostechies.com/blogs/derickbailey/archive/2009/05/18/a-net-c-developer-s-gitignore-file.aspx
# Additional Thanks to
# – Alexey Abramov

# Standard VS.NET and ReSharper Foo

*.map
bin
[Oo]bj
[Bb]in
*.csproj.user
*ReSharper*
*resharper*
*.suo
*.cache
* Thumbs.db
*.chm
*.htm
# Other useful stuff
*.bak
*.cache
*.log
*.swp
*.user
*.generated.cs
_compareTemp
_notes
aspnet_client
httpd.parse.errors

# Office Temp Files
~$*

# If you have a deploy folder
deploy
deploy/*

obj/

# Exclude ALL DLLs?
*.dll

packages/*
.svn/

node_modules

*.min.js
*.min.css
.vs/

temp/
TestResult.xml
build

*.stackdump.cr/
sh.exe.stackdump
.cr/
out/